[alias]
  glog2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)by %an%Creset' --all
  mirage = update-index --assume-unchanged
  reveal = update-index --no-assume-unchanged
  branch-remembers = branch --contains HEAD
  remote-remembers = branch -r --contains HEAD
  whatis = rev-parse
  ln = log --pretty=format:'%C(green)%ar%Creset\t| %C(bold cyan)%h%Creset %s %C(yellow)by %an%Creset %C(cyan)@ %ad%Creset' --date=local --max-count='32'
  last = log --pretty=format:'%C(green)%ar%Creset\t| %C(bold cyan)%h%Creset %s %C(cyan)@ %ad%Creset %C(yellow)by %an%Creset' --date=local --max-count='1'
  stat = status
